**Импортировать модули numpy pandas**

In [20]:
import numpy as np
import pandas as pd

**Создать объект pandas Series из листа, объекта NumPy, и словаря**

In [21]:
List = [1, 3, 5, 7]

Dict = dict(zip(['Moscow', 'Kiev', 'London'], [1, 2, 3]))

NpArray = np.array([2, 4, 6, 8])

Series1 = pd.Series(List)
print(Series1)
print('----------------------------')

Series2 = pd.Series(Dict)
print(Series2)
print('----------------------------')

Series3 = pd.Series(NpArray)
print(Series3)
print('----------------------------')

0    1
1    3
2    5
3    7
dtype: int64
----------------------------
Moscow    1
Kiev      2
London    3
dtype: int64
----------------------------
0    2
1    4
2    6
3    8
dtype: int32
----------------------------

**Преобразовать объект Series в DataFrame**

In [22]:
Series = pd.Series(np.array([1, 3, 5, 7]))

DataFrame = Series.to_frame()
DataFrame

   0
0  1
1  3
2  5
3  7

**объединить несколько объектов Series в Dataframe**

In [23]:
Series1 = pd.Series(np.array([1, 3, 5, 7]))
Series2 = pd.Series(np.array([2, 4, 6, 8]))
Series3 = pd.Series(['a', 'b', 'c', 'd'])

DataFrame = pd.concat([Series1, Series2, Series3], axis=1)
DataFrame

# second variant
#DataFrame = pd.DataFrame({'col1': Series1, 'col2': Series2, 'col3': Series3})
#DataFrame

   0  1  2
0  1  2  a
1  3  4  b
2  5  6  c
3  7  8  d

**Присвоить имя индексу объекта Series**

In [24]:
Series = pd.Series(np.array([1, 3, 5, 7]))
Series.index.name = 'Index'
print(Series)

Index
0    1
1    3
2    5
3    7
dtype: int32

**Получить элементы объекта Series A, которых нет в объекте Series B  
Возврат вместе с индексами**

In [25]:
Series1 = pd.Series(np.array([1, 3, 5, 7]))
Series2 = pd.Series(np.array([1, 3, 6, 8]))

tmp = Series1[~Series1.isin(Series2)]
print(tmp)

2    5
3    7
dtype: int32

**возвратить значения**

In [26]:
tmp = np.setdiff1d(Series1, Series2)
print(tmp)

[5 7]

**Получить объединенные объекты Series без повтороений**

In [27]:
Series1 = pd.Series(np.array([1, 3, 5, 7]))
Series2 = pd.Series(np.array([1, 3, 6, 8]))

union = pd.Series(np.union1d(Series1, Series2))

print(union)

0    1
1    3
2    5
3    6
4    7
5    8
dtype: int32

**получить пересекающиеся данные**

In [28]:
intersect = pd.Series(np.intersect1d(Series1, Series2))
print(intersect)

0    1
1    3
dtype: int32

**отобрать все данные, кроме пересекающихся**

In [29]:
tmp = union[~union.isin(intersect)]
print(tmp)

2    5
3    6
4    7
5    8
dtype: int32

**возвратить значения**

In [30]:
tmp = np.setxor1d(Series1, Series2, assume_unique=False)
print(tmp)

[5 6 7 8]